<div class="container">

  <div class="action-bar">
    <div class="button-row">
      <button mat-stroked-button color="primary" [routerLink]="['contas/create']">Adicionar conta</button>
      <button mat-stroked-button color="warn" [routerLink]="['compras/create']">Adicionar Compra</button>
    </div>
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Busca por nome</mat-label>
      <input matInput type="text" [(ngModel)]="value" (ngModelChange)="filterByName($event)">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; reloadContas()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <cdk-accordion class="accordion">
    <cdk-accordion-item
      *ngFor="let conta of contas; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="accordion-item-header">
        <span (click)="changeAccordion(accordionItem); setTotal(conta.id)">{{ conta.nome }}</span>
        <div>
          <span class="accordion-item-description">
            <button mat-icon-button color="primary" [routerLink]="['contas/update', conta.id]">
              <mat-icon>edit</mat-icon>
            </button>
          </span>
          <span class="accordion-item-description">
            <button mat-icon-button color="warn" (click)="deleteConta(conta.id)">
              <mat-icon>clear</mat-icon>
            </button>
          </span>
          <span class="accordion-item-description details">
              <span (click)="changeAccordion(accordionItem); setTotal(conta.id)">{{ accordionItem.expanded ? 'menos' : 'mais' }} detalhes</span>
          </span>
        </div>
      </div>
      <div
        class="accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">

        <table>
          <thead>
            <tr>
              <th class="text-center" rowspan="2"><img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="foto"></th>
              <th class="text-center">CPF</th>
              <th class="text-center">Data de Nascimento</th>
              <th class="text-center">Idade</th>
              <th class="text-center" colspan="2">Telefone</th>
            </tr>
            <tr>
              <td class="text-center">{{ conta.cpf }}</td>
              <td class="text-center">{{ conta.data_nascimento | date: 'dd/MM/yyyy' }}</td>
              <td class="text-center">{{ conta.idade }}</td>
              <td class="text-center" colspan="2">{{ conta.telefone }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-left">Data da compra</th>
              <th class="text-left" colspan="2">Descrição</th>
              <th class="text-right">Valor</th>
              <th class="text-center" colspan="2">Ação</th>
            </tr>
            <ng-container *ngFor="let compra of compras">
              <ng-container *ngIf="compra.contas_id == conta.id">
                <tr id="tr_{{ compra.compras_id }}">
                  <td>{{ compra.data | date: 'dd/MM/yyyy' }}</td>
                  <td colspan="2">{{ compra.descricao}}</td>
                  <td class="text-right">{{ compra.valor | currency:'BRL' }}</td>
                  <td class="text-center" colspan="2"><button mat-button color="warn" (click)="payOffDebt(compra.compras_id, conta.id)">quitar dívida</button></td>
                </tr>
              </ng-container>
            </ng-container>
            <tr>
              <td  class="text-right" colspan="3"><strong>Total de dívidas</strong></td>
              <td class="text-right"><strong>{{ total | currency:'BRL' }}</strong></td>
              <td colspan="2"></td>
            </tr>
          </tbody>
          </table>

      </div>
    </cdk-accordion-item>
  </cdk-accordion>

  <mat-paginator *ngIf="contas.length != 0"
    [length]="length"
    [pageSize]="size"
    (page)="onChangePage($event)">
  </mat-paginator>

</div>


